language: julia
os: # WARNING: any change here must also be done in docs/make.jl
  - linux
  - osx
julia: # WARNING: any change here must also be done in docs/make.jl
# - release
  - 0.6
env:
  - DOCUMENTER_DEBUG="true"
notifications:
  email: false
## Following 4 lines are taken from here:
# https://github.com/JuliaOpt/NLopt.jl/blob/master/.travis.yml#L10
# They're meant to fix the NLopt build on Linux.
addons:
    apt: # apt-get for linux
        packages:
            - libnlopt0 # We install it this way to be able to run Travis with `sudo: false`

after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("PhyloNetworks")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("PhyloNetworks")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
  # Install R
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E084DAB9; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo add-apt-repository -y "deb http://cran.rstudio.com/bin/linux/ubuntu $(lsb_release -s -c)/"; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get update -qq -y; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get install git r-base r-base-dev r-recommended -y; fi
  # build doc
  - chmod +x docs/make.sh
  - ./docs/make.sh
